# Ignore Python virtual environment folders
venv/
env/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore dbt log files
logs/
dbt_packages/

# Ignore dbt target folder (optional; recommended in dev environments)
target/

# Ignore environment.yml and .env files
environment.yml
.env

# Ignore vscode specific files
.vscode/
.user.yml
package-lock.json

# Ignore sensitive credential files
secrets/
credentials.json